
@import "input.css";

body 
{
    background-color: black;
    color: white
}

.title
{
    text-align: center;
}

#everything
{
    position: relative;
    margin:auto;
    height:425px;
    width: 634px;
}


#tool
{
    position: relative;
    float: left;
    border:1px solid white;
    border-right: 0px;
    width: 430px;
    height: 420px;
}

h1, h2
{
    font-size: 25px;
}

#instructions
{
    position: relative;
    float: left;
    border: 1px solid white;
    width: 200px;
    height: 420px;
}

button
{
    position: relative;
    margin-top: 4px;
    left: 43%;
}

#output
{
    border-top: 1px solid white;
    margin-top: 2px;
    height: 235px;
}

#stepBox
{
    float:left;
    width:20%;
    height: 100%;
}

#formulaBox
{
    
    border-left: 1px solid white;
    float:right;
    width:79%;
    height: 100%;
}

.outputText
{
    margin-left: 5px;
}
