
@import "input.css";

body 
{
    background-color: black;
    color: white
}

.title
{
    text-align: center;
}


#tool
{
    position: relative;
    float: left;
    border:1px solid white;
    width: 430px;
    height: 600px;
}

h1, h2
{
    font-size: 25px;
}

#instructions
{
    position: relative;
    float: left;
    border: 1px solid white;
    width: 600px;
    height: 600px;
}